services:

  # =========================
  # POSTGRES SERVER
  # =========================
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 250195
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # =========================
  # USER SERVICE
  # =========================
  userservice:
    build:
      context: .
      dockerfile: UserService/Dockerfile
    container_name: userservice
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=usersdb;Username=postgres;Password=250195
    depends_on:
      - postgres

  # =========================
  # VEHICLE SERVICE
  # =========================
  vehicleservice:
    build:
      context: .
      dockerfile: VehicleService/Dockerfile
    container_name: vehicleservice
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=vehiclesdb;Username=postgres;Password=250195
    depends_on:
      - postgres

# =========================
# VOLUMES
# =========================
volumes:
  postgres-data:
