services:

  # =========================
  # USER SERVICE
  # =========================
  userservice:
    build:
      context: .
      dockerfile: UserService/Dockerfile
    container_name: userservice
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=users-db;Port=5432;Database=usersdb;Username=postgres;Password=postgres
    depends_on:
      - users-db

  # =========================
  # USER DATABASE
  # =========================
  users-db:
    image: postgres:16
    container_name: users-db
    environment:
      POSTGRES_DB: usersdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - users-db-data:/var/lib/postgresql/data

  # =========================
  # VEHICLE SERVICE
  # =========================
  vehicleservice:
    build:
      context: .
      dockerfile: VehicleService/Dockerfile
    container_name: vehicleservice
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=vehicles-db;Port=5432;Database=vehiclesdb;Username=postgres;Password=postgres
    depends_on:
      - vehicles-db

  # =========================
  # VEHICLE DATABASE
  # =========================
  vehicles-db:
    image: postgres:16
    container_name: vehicles-db
    environment:
      POSTGRES_DB: vehiclesdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - vehicles-db-data:/var/lib/postgresql/data


# =========================
# VOLUMES (PERSISTENCIA)
# =========================
volumes:
  users-db-data:
  vehicles-db-data:
