services:

  # =========================
  # POSTGRES SERVER
  # =========================
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 250195
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # =========================
  # USER SERVICE
  # =========================
  userservice:
    build:
      context: .
      dockerfile: UserService/Dockerfile
    container_name: userservice
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=usersdb;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://userservice:8080/health
    depends_on:
      - postgres

  # =========================
  # VEHICLE SERVICE
  # =========================
  vehicleservice:
    build:
      context: .
      dockerfile: VehicleService/Dockerfile
    container_name: vehicleservice
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=vehiclesdb;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://vehicleservice:8080/health
    depends_on:
      - postgres
      
  # =========================
  # AUTH SERVICE
  # =========================
  authservice:
    build:
      context: .
      dockerfile: AuthService/Dockerfile
    container_name: authservice
    ports:
      - "8083:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=auth_db;Username=postgres;Password=250195
      ExternalServices__UserService__Url: http://userservice:8080
      HealthChecksUI__HealthChecks__0__Uri: http://authservice:8080/health
    depends_on:
      - postgres
      - userservice

  # =========================
  # BASE SERVICE
  # =========================
  baseservice:
    build:
      context: .
      dockerfile: BaseService/Dockerfile
    container_name: baseservice
    ports:
      - "8084:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=bases_db;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://baseservice:8080/health
    depends_on:
      - postgres
    
  # =========================
  # BOOKING SERVICE
  # =========================
  bookingservice:
    build:
      context: .
      dockerfile: BookingService/Dockerfile
    container_name: bookingservice
    ports:
      - "8085:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=bookings_db;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://bookingservice:8080/health
    depends_on:
      - postgres

  # =========================
  # API GATEWAY
  # =========================
  apigateway:
    build:
      context: .
      dockerfile: ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ReverseProxy__Clusters__auth-cluster__Destinations__auth__Address: http://authservice:8080/
      ReverseProxy__Clusters__user-cluster__Destinations__user__Address: http://userservice:8080/
      ReverseProxy__Clusters__vehicle-cluster__Destinations__vehicle__Address: http://vehicleservice:8080/
      ReverseProxy__Clusters__base-cluster__Destinations__base__Address: http://baseservice:8080/
      ReverseProxy__Clusters__booking-cluster__Destinations__base__Address: http://bookingservice:8080/
    depends_on:
      - authservice
      - userservice
      - vehicleservice
      - baseservice

# =========================
# VOLUMES
# =========================
volumes:
  postgres-data:
