services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 250195
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
