services:

  # =========================
  # POSTGRES SERVER
  # =========================
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 250195
    volumes:
      - postgres-data:/var/lib/postgresql/data
 
  # =========================
  # API GATEWAT
  # =========================

  api-gateway:
    build: ./ApiGateway
    ports:
      - "5000:8080"
    depends_on:
      - auth-service
      - user-service
      - vehicle-service

  # =========================
  # USER SERVICE
  # =========================
  userservice:
    build:
      context: .
      dockerfile: UserService/Dockerfile
    container_name: userservice
    ports:
      - "8081:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=usersdb;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://userservice:8080/health
    depends_on:
      - postgres

  # =========================
  # VEHICLE SERVICE
  # =========================
  vehicleservice:
    build:
      context: .
      dockerfile: VehicleService/Dockerfile
    container_name: vehicleservice
    ports:
      - "8082:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=vehiclesdb;Username=postgres;Password=250195
      HealthChecksUI__HealthChecks__0__Uri: http://vehicleservice:8080/health
    depends_on:
      - postgres
      
  # =========================
  # AUTH SERVICE
  # =========================
  authservice:
    build:
      context: .
      dockerfile: AuthService/Dockerfile
    container_name: authservice
    ports:
      - "8083:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: Host=postgres;Port=5432;Database=auth_db;Username=postgres;Password=250195
      ExternalServices__UserService__Url: http://userservice:8080
      HealthChecksUI__HealthChecks__0__Uri: http://authservice:8080/health
    depends_on:
      - postgres
      - userservice
# =========================
# VOLUMES
# =========================
volumes:
  postgres-data:
